@using WebsiteBanSach.Models;
@model SACH
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@* CSS TRANG XEM CHI TIẾT*@
<style>
    /* ẩn div body*/
    #divNoiDungBenPhai {
        display: none;
    }

    section.Top {
        display: none;
    }
</style>
@section NoiDungBenPhai{
    <div id="HinhAnh" >
        <img src="@Url.Content("~/ImagesSP/"+ Model.AnhBia)" />
    </div>

    @* thông tin *@
<div id="ThongTin">
    <div id="TenSach"> @Model.TenSach</div>
    <div id="ChuDe" style="padding-top:1rem;">Chủ đề: @ViewBag.TenChuDe</div>
    <div id="NhaXuatBan">Nhà Xuất Bản: @ViewBag.NhaXuatBan</div>
    <div id="MoTa">Nội dung tóm tắt: <br />- @Model.MoTa<br /></div>

    @* Dịch dấu chấm động đơn giá sử dụng string.Format("{0:0,0}", tham số *@
    <div id="Gia" style="padding-top: 20px;"><span style="color: green; font-weight: normal;"> Đơn Giá: </span><br /><span id="Gia"> @string.Format("{0:0,0}", @Model.GiaBan) VNĐ</span> </div>    
    @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSach = Model.MaSach, @strURL = Request.Url.ToString()}))
    {
        <input type="submit" style="cursor: pointer; text-transform: uppercase; background-color: #000; color: #fff;" value="Buy &#xf07a;" id="btnGioHang" class="btn btn-primary"/>
    }
</div>
    <div style="clear:both"></div>
}

@* css thong tin sach *@
<style>
    #HinhAnh img {
        max-width: 12rem;
        height: 16rem;
        padding-left: 4rem;
        padding-top: 3rem;
    }
    #ThongTin {
        padding-left: 1rem;
        padding-top: 3rem;
    }
    #TenSach {
        font-weight: normal;
        font-size: 20pt;
        height: auto;
        word-wrap: break-word; /* canh nội dung tự xuống dòng */
        color: red;
        font-weight: 1000;
    }
    #ChuDe,#NhaXuatBan{
        font-size:15pt;
        font-weight:normal;
        color:black;
        height:auto;
    }
    #MoTa{
        font-weight:normal;
        color:black;
        word-wrap:break-word;
        height:auto;
    }
    #Gia span#Gia {
        font-weight: normal;
        color: orange;
        font-size:25pt;
        height: auto;
    }
    #btnGioHang {
        font-family: 'FontAwesome','Segoe UI';
        letter-spacing: 1px;
        max-width: 9rem;
        width: 7rem;
        height: 3rem;
    }
    #btnGioHang:hover{
        @*background-color:black;*@
    }
    
</style>





